 th {
  
  background-color: #1a1815;
  color: #ffffff;
  
}
 
.tabla-container {
    background-color: #501717;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
.fondo{
    height: 100vh;
    color: #ffffff;
   background-color: #da8739;
}
.nbreusuario {
    color: #1b1a19;
    background-color:#ffffff;
    min-width: 60%;
    width: auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0%;
    padding: 0 2% 0 2%;
  }
  
.tabla-scroll {
  max-height: 60vh; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto; /* Habilita el scroll vertical */
  border: 1px solid #ddd; /* Opcional: borde para el contenedor de scroll */
}

.tabla {
  width: 100%;
  border-collapse: collapse; /* Asegura que no haya espacio entre celdas */
}

.encabezadotabla {
  position: sticky; /* Hacer que el encabezado sea "sticky" */
  top: 0; /* Fijar el encabezado en la parte superior del contenedor */
  background-color: #f8f9fa; /* Color de fondo para el encabezado */
  z-index: 1; /* Asegúrate de que el encabezado esté por encima del resto del contenido */
}

.encabezadotabla th, .cuerpo td {

  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
  border: 1px solid #ddd; /* Borde de las celdas */
}